
.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis:hover {
  fill: red;
}

.axis--x path {
  display: none;
}

.axis-title {
  font-weight: bold;
  text-anchor: end;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
}

.line:hover {
  stroke: yellow;
}

.title {
  font-weight: bold;
  font: 20px sans-serif;
}

#editor {
    position: relative;
    height: 300px;
    padding: 1px 5px;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 5px;
}

#editor-2 {
    position: relative;
    height: 300px;
    padding: 1px 5px;
    padding-top: 1px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 5px;
}


#graph {
  position: relative;
}

#header {
    font: 16px sans-serif bold;
    color:steelblue;
    text-align:center;
    padding:5px;
}

#button {
  position: absolute;
  padding: 1px 5px;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  display: inline-block;
  text-align: center;
}

.toolbar
{
  padding:3px;
  height:28px;
}